*,
*::before,
*::after {
  font-family: 'Roboto';
}

html {
  font-size: 20px;
}

body {
  padding: 0;
  margin: 0;
}

.mr-1 {
  margin-right: 5px;
}

.recipe-list {
  border-right: 1px solid black;
  min-height: 100vh;
  width: 60%;
}

.recipe-list__add-recipe-btn-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.ingredient-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 5px;
  column-gap: 40px;
  justify-content: flex-start;
}

.btn {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: inherit;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}

.btn--primary {
  color: white;
  background-color: hsl(200, 100%, 50%);
}

.btn--primary:hover {
  background-color: hsl(200, 100%, 35%);
}

.btn--danger {
  color: white;
  background-color: hsl(0, 100%, 50%);
}

.btn--danger:hover {
  background-color: hsl(0, 100%, 35%);
}

.recipe {
  padding: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}

.recipe:last-child {
  border-bottom: none;
}

.recipe__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.recipe__title {
  margin: 0;
  font-size: 1.75rem;
}

.recipe__row {
  margin-top: 10px;
}

.recipe__label {
  margin-right: 5px;
}

.recipe__value {
  font-weight: 300;
}

.recipe__value--indented {
  margin-top: 10px;
  margin-left: 20px;
}

.recipe__instructions {
  white-space: pre-wrap;
}
